

    .container{
    display:flex;
    justify-content:center;
    align-items:center;

    padding:200px 0;  
    min-height:60vh;   

    background-image:
    linear-gradient(rgba(0,0,0,0.4),
                    rgba(0,0,0,0.4)),
    url("../images/formbg.jpg");

    background-position: cover;
    background-position:contain;
    background-repeat:no-repeat;
}

.login a{
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.form{
    width:600px;
    padding:40px;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.2);
    border-radius:20px;
    box-shadow:0 8px 32px rgba(0,0,0,0.2);
    text-align:center;
    
}


.title{
    color:white;
    font-size:50px;
    margin-bottom:30px;
}

.input-box{
    position:relative;
    margin-bottom:15px;
    
}
.input-box i{
    position:absolute;
    left:-10px;
    top:50%;
    transform:translateY(-50%);

    width:42px;
    height:42px;

    background:white;
    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:22px;
    color:black;
    z-index:1;
}


.input-box input{
    width:90%;
    padding:18px 18px 18px 60px;
    background:rgba(255,255,255,0.15);
    border:1px solid rgba(255,255,255,0.3);

    border-radius:25px;
    color:white;
    font-size: 20px;
}

.input-box input::placeholder{
    color:rgba(255,255,255,0.8);
    box-sizing: border-box;
}

.login{
    margin-top:25px;
    font-size:16px;
}

.btn{
    background:white;
    color:black;
    border:none;
    padding:15px 45px;
    border-radius:25px;
    font-weight:bold;
    cursor:pointer;
}
/* Gender, Interests, Terms */
.options{
    margin-bottom:15px;
    color:white;
    text-align:left;
}

.options p{
    font-weight:bold;
    margin-bottom:8px;
    font-size:16px;
}

.options label{
    display:block;
    margin-bottom:8px;
    cursor:pointer;
}

.options input[type="radio"],
.options input[type="checkbox"]{
    width:auto;
    margin-right:8px;
}

/* Select box */
.input-box select{
    width:100%;
    padding:15px;
    border-radius:25px;
    border:1px solid rgba(255,255,255,0.3);
    background:rgba(255,255,255,0.15);
    color:white;
    outline:none;
    font-size:16px;
}

.input-box select option{
    color:black;
}



/* Form height thori bari */
.form{
    max-height:90vh;
    overflow-y:auto;
}

.footer{
    background:#eaeaea;
    padding:40px 20px;
    text-align:center;
}

.footer-top{
    display:flex;
    justify-content:center;
    gap:150px;
    margin-bottom:30px;
}

.footer-middle{
    text-align:center;
}

.footer-middle i{
    font-size:25px;
    margin:10px;
}

.footer-bottom{
    text-align:center;
}
